/*----- TAG ELEMENTS -----*/

body {
  /*font-family: 'Oswald', sans-serif;*/
  font-family: 'Exo 2', sans-serif;
  /*font-family: 'Hammersmith One', sans-serif;*/
}

h4 {
  line-height: 3rem;
}

i {
  padding-left: 5px;
  padding-right: 5px;
}

i:hover {
  color: red;
}


/*----- CLASS ELEMENTS -----*/


.card-img-overlay {
  width: 100%;
  top: 15%;
  position: absolute;
}

.drink1, .drink2 {
  max-height: 100%;
  width: auto;
  /*padding: 20px 15px;*/
  border-radius: 25%;
}


.etop-sign {
  text-align: center;
  bottom: 100px;
}

.img-header {
  max-height: 1200px;
  width: 100%;
  opacity: 0.8;
}

.img-navi {
 max-height: 60px;
 max-width: 90px;
}

.main {
    background-color: black;
}

.main-1, .footer1 {
  padding: 15px;

}

.main-topic, .footer {
  margin: auto;
  padding: 20px;
}

.footer {
  text-align: right;
}


.navbar-toggler {
  background-color: transparent;
}

.social-media {
  text-align: center;
  bottom-padding: 30px;
}
